header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(60, 128, 255);
}

h1 {
    margin: 0;
    font-size: 36px;
    color: rgb(0, 0, 0);
}

body { 
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    padding-bottom: 100px;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(175, 175, 175);
}

#searchInput {
    flex: 0 0 70%;
    background-color: rgb(43, 80, 247); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 12px auto;
    cursor: pointer;
}

#searchButton {
    flex: 0 0 20%;
    background-color: #4c6baf; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #4645a0;
}

#recordTemplate {
    display: none;

}

.record {
    background-color: #ddd;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.player-name {
    margin: 0 0 5px;
    font-size: 18px;
}

.pet-list {
    font-size: 14px;
    color: #333;
}

#results {
    background-color: #f0f4ff;
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    background-color: rgb(200, 200, 200);
    width: 100%;
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.signup-link {
    margin-left: 10px;
    font-weight: bold;
}

.signin-link {
    margin-left: 10px;
    font-weight: bold;
}
