header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(214, 184, 135);
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

h1 {
    margin: 10;
    font-size: 36px;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(223, 201, 181);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(175, 175, 175);
}

#searchInput {
    flex: 0 0 70%;
    background-color: rgba(214, 184, 135, 1);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 12px auto;
    cursor: pointer;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

#searchButton {
    flex: 0 0 20%;
    background-color: rgb(229, 212, 187);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

#searchButton:hover {
    background-color: rgb(182, 162, 128);
}

#recordTemplate {
    display: none;

}

.record {
    background-color: #daaa62;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.player-name {
    margin: 0 0 5px;
    font-size: 18px;
}

.pet-list {
    font-size: 14px;
    color: #333;
}

#results {
    background-color: #a5a5a5;
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 12px;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    background-color: rgba(214, 184, 135, 1);
    width: 100%;
    min-height: 60px;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

.link-container {
    text-align: right;
    display: flex;
    justify-content: right;
    gap: 20px;
}

#auth-links {
    text-align: right;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 10px;
}

#auth-links:hover {
    text-decoration: underline;
}

#homeButton {
    background-color: rgb(230, 193, 138);
    border: 3px solid rgb(122, 122, 122);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    border-radius: 10px;
}

#signOutButton {
    background-color: rgb(230, 193, 138);
    border: 3px solid rgb(122, 122, 122);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    border-radius: 10px;
}

#petList {
    list-style-type: disc;
    padding: 20px;
    margin: 10px;
    background: rgb(219, 179, 133);
    color: white;
    border-radius: 8px;
}

#petCollection {
    font-size: 20px;
    padding: 15px;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    color: black;
}

/* Auth pages styles */
form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #7a7a7a;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Upheaval TT (BRK)', sans-serif;
    color: white;
}

/* Space out labels and inputs */
.form-group label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* Make input fields larger */
.form-group input {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #cfa957;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the button */
button#signInButton {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Upheaval', sans-serif;
    background-color: #c7ac55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

button#sigInButton:hover {
    background-color: #a08345;
}

button#signUpButton {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Upheaval', sans-serif;
    background-color: #c4aa54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

button#sigUpButton:hover {
    background-color: #a08345;
}

/* Style the bottom text */
.authRedirect {
    margin-top: 20px;
    text-align: center;
}

.authRedirect p {
    margin-top: 15px;
    font-size: 18px;
}

.authRedirect a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.authRedirect a:hover {
    text-decoration: underline;
    color: #cfa957;
}