header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 15px 0;
}

body { 
    background-color: rgb(212, 208, 208);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 12px auto;
    cursor: pointer;
}