header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 15px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: rgb(43, 80, 247);
}

body { 
    background-color: rgb(212, 208, 208);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#searchInput {
    background-color: rgb(43, 80, 247); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 12px auto;
    cursor: pointer;
}

#searchButton {
    background-color: #4c6baf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #4645a0;
}

.record {
    text-align: left;
    margin-top: 20px;
    width: 80%;
}