header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(214, 184, 135);
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

h1 {
    margin: 10;
    font-size: 36px;
    color: rgb(0, 0, 0);
}

body { 
    background-color: rgb(223, 201, 181);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(175, 175, 175);
}

#searchInput {
    flex: 0 0 70%;
    background-color: rgba(214, 184, 135, 1); 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 12px auto;
    cursor: pointer;
}

#searchButton {
    flex: 0 0 20%;
    background-color: rgb(229, 212, 187); 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: rgb(182, 162, 128);
}

#recordTemplate {
    display: none;

}

.record {
    background-color: #daaa62;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.player-name {
    margin: 0 0 5px;
    font-size: 18px;
}

.pet-list {
    font-size: 14px;
    color: #333;
}

#results {
    background-color: #a5a5a5;
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    background-color: rgba(214, 184, 135, 1);
    width: 100%;
    min-height: 60px;
}

.link-container {
    text-align: right;
    display: flex;
    justify-content: right;
    gap: 20px;
}

#auth-links {
    text-align: right;    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 10px;
}

#auth-links:hover {
    text-decoration: underline;
}

/* Styles for profile page */

#homeButton {
    background-color: rgb(230, 193, 138); 
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#signOutButton {
    background-color: rgb(230, 193, 138); 
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#petList {
    list-style-type: disc;
    padding-left: 20px;
    background: rgb(219, 179, 133);
}

#petCollection {
    margin-top: 20px;
    background-color: rgb(219, 180 10)
}